body,html{
  font-family: sans-serif;
}
.title{
  text-align: center;
}
.image{
  border:1px solid black;
  display:block;
  margin-left: auto;
  margin-right: auto;
  height:250px;
  width:250px;
}
.box{
  padding:5px;
  margin:0 auto;
  width:850px;
}
.line{
  margin:0 auto;
  width:850px;
  border:1px solid black;
}
.name{
  color:grey;
}
.transaction{
  margin:0 auto;
  width:850px;
  text-align: left;
  padding:5px;
}
.hash{
  width:660px;
  float:right;
}
.ammount{
  color:green;
  width:660px;
  float:right;
}
.container{
}
